<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="/var/logs/test-integration-api/internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" 
		        name="file-info" 
		        fileName="/var/logs/test-integration-api/${shortdate}-info.log"
		        layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="File" 
		        name="file-error"
		        fileName="/var/logs/test-integration-api/${shortdate}-error.log"
		        layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="Console" 
		        name="console" 
		        layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
	</targets>

	<rules>
		<logger name="*"
		        minLevel="Error"
		        writeTo="file-error"
		        enabled="true" />

		<logger name="Microsoft.*"
		        maxLevel="Info"
		        final="true"
		        enabled="true" />

		<logger name="System.*"
		        maxLevel="Info"
		        final="true"
		        enabled="true" />

		<logger name="*"
		        minLevel="Info"
		        writeTo="file-info, console"
		        enabled="true" />
	</rules>
</nlog>